<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>www.gov.uk - This is a trial ‘beta’ version of the UK government's official website</title>
  <link href="<%= @asset_host %>/stylesheets/admin/jquery-ui-1.8.14.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/normalize.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/core.css" rel="stylesheet" type="text/css" />
  <link href="<%= @asset_host %>/stylesheets/publisher.css" rel="stylesheet" type="text/css" />

  <link href="<%= @asset_host %>/stylesheets/high-contrast.css" rel="alternate stylesheet" type="text/css" title="I can&rsquo;t see very well" />
  <link href="<%= @asset_host %>/stylesheets/dyslexic.css" rel="alternate stylesheet" type="text/css" title="I find words difficult" />

  <script src="<%= @asset_host %>/javascripts/libs/jquery/jquery-1.6.2.min.js"></script><!-- no defer on jquery -->
  <script src="<%= @asset_host %>/javascripts/libs/jquery/jquery-ui-1.8.16.custom.min.js" defer="defer"></script>
	<script src="<%= @asset_host %>/javascripts/libs/jquery/plugins/jquery.base64.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/search.js" defer="defer"></script>
	<script src="<%= @asset_host %>/javascripts/devolution.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/popup.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/feedback.js" defer="defer"></script>
  <script src="<%= @asset_host %>/javascripts/customise.js" defer="defer"></script>

	<!--[if lt IE 9]>
		<script src="<%= @asset_host %>/javascripts/html5.js"></script>
		<script src="<%= @asset_host %>/javascripts/selectivizr-min.js"></script>
	<![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>

  <a href="#content" class="visuallyhidden">Skip to main content</a>

  <header role="banner" class="group" id="global-header">
		<div class="header-global group">
	    <h1><a href="/" title="return to the gov.uk homepage">gov.uk</a></h1>
	    <a class="customise-options">Customise</a>
			<nav role="navigation">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="#">Personalisation</a></li>
					<li><a href="#">Government Departments</a></li>
					<li><a href="#">Business</a></li>
				</ul>
			</nav>
		</div>
		<div class="header-context citizen group">
			<div class="search-help">
				<form class="site-search" action="http://search.production.alphagov.co.uk/search" method="get" role="search">
				  <fieldset>
				    <legend class="visuallyhidden">Site search for www.gov.uk</legend>
	   				<label for="s" class="visuallyhidden">
	 						<span>Search</span>
	 					</label>
						<input type="search" name="q" id="s" title="Search" placeholder="type your search here" />
	  				<input type="submit" value="Search" />
	  			</fieldset>
				</form>
			</div>
			<nav role="navigation">
				<ol>
					<li class="current-context"><a href="/">Citizens home</a></li>
				</ol>
			</nav>
    </div>
  </header><!--end header-->

  <div id="wrapper" class="group">
  </div><!--end wrapper-->

	<footer class="group" id="footer">
		<div class="inner group" role="contentinfo">
			<div class="subsection copyright">
      	<p>© 2011 Crown Copyright</p>
      	<p id="reuse-license">
        Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="licence">Open Government Licence</a>
      	</p>
      	<p id="cookie-declaration">This site uses cookies. We have published <a href="/cookies">a list and further information</a>.</p>
				<p><a href="https://sites.google.com/a/digital.cabinet-office.gov.uk/citizen-beta/">Send us your feedback</a</p>
			</div>
    </div>
    <div id='feedback-popup'>
      <a href='' class="close">Close</a>
      <h2>Help improve gov.uk</h2>
      <form>
        <label>Describe what kind of problem you're having</label>
        <div id="feedback-options"></div>
        <div id='feedback-mechanism'></div>
      </form>

    </div>
  </footer><!--end footer-->


	<div id="global-app-error" class="app-error hidden"></div>
	    <div id="global-locator" class="popover-mask">
	      <div id="global-locator-box" class="popover">
	        <div class="header">
	        	<a class="close" href="#"><img src="/images/welcome/close.png" alt="close"></a>
	        </div>
	        <div id="global-set-location">

	          <h2>Personalise this website</h2>

            <p>We&rsquo;ve worked hard to make this website as easy-to-use and understand as possible for every visitor, regardless of their ability or disability. For now we have added two additional ways to view the site and we will be adding more in the upcoming months. <span style="color: red;">This will need revising by an Ed at some point, but it's okay for now as filler...</span></p>

            <form id="" class="app-form" action="#">

              <fieldset>
                <legend class="visuallyhidden">Site personalisation options</legend>
                <ul class="personalise-options">
                  <li><a href="#">I can&rsquo;t see very well</a></li>
                  <li><a href="#">I find words difficult</a></li>
                </ul>
              </fieldset>

            </form>

	          <h2>Set your location</h21>
	          <div id="global-locator-error" class="app-error hidden"></div>
	            <form id="global-locator-form" class="app-form" action="/locator.json">

                <fieldset>
                  <legend class="visuallyhidden">UK Postcode lookup</legend>

	                <div class="ask_location">
                    <label for="postcode_box">Enter a UK postcode <input id="postcode_box" name="postcode_box" type="text" placeholder="e.g. SW1A 2AA"></label>
                    <input type="submit" value="Get started →">

  	                <div class="finding_location hidden">
  	                  <p>Locating you&hellip;
  	                    <input type="hidden" name="lon" value=""><input type="hidden" name="lat" value=""></p>
  	                </div>
  	                <p id="forget-location">
  	                  <a href="#">Forget my location</a>
  	                </p>
  	              </div>
                </fieldset>

              </form>

	            <h3>Why?</h3>
	            <p>When you set your location we can give you details of services close to you, like Passport offices, driving test centres or police stations.</p>
	            <p>Your approximate location is <a href="/cookies/">stored in a cookie</a> on your machine, but we do not save your postcode or precise location on our servers.</p>
	        </div>
	      </div>

	    </div>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26179049-1']);
        _gaq.push(['_setDomainName', 'alphagov.co.uk']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>

</body>
</html>
