<!-- Whilst they are both in use, this and the copy in static should be kept in sync -->
<% if artefact %>

<!-- related -->
<div class="related-positioning">
  <div class="related-container">

    <div class="related">
      <div class="inner group">
        <h2>More like this:</h2>
        <nav role="navigation">
          <ul>
            <%# Content API style Artefact %>
            <% if artefact.respond_to?(:related_artefacts) %>
              <% artefact.related_artefacts.each do |item| %>
                <li>
                  <a href="<%= h item.web_url %>"><%= h item.title %></a>
                </li>
              <% end %>
              <% if root_section = artefact.root_primary_section %>
                <li class="related-topic"><a href="<%= h root_section["content_with_tag"]["web_url"] %>"
                  >More from the <span><%= h root_section["title"] %></span> category</a></li>
              <% end %>
            <% else %> <%# Panopticon API style Artefact (deprecated) %>
              <% if artefact["related_items"].any? %>
                <% artefact["related_items"].each do |item| %>
                  <% if item["artefact"] %>
                  <li class="<%= h item["artefact"]["kind"] %>">
                    <a href="/<%= h item["artefact"]["slug"] %>"><%= h item["artefact"]["name"] %></a>
                  </li>
                  <% end %>
                <% end %>
              <% end %>

              <% if artefact["section"] and artefact["section"] != "" %>
                <% section, subsection = artefact["section"].split(':', 2) %>
                <li class="related-topic"><a href="/browse/<%= h section.parameterize %>"
                  >More from the <span><%= h section %></span> category</a></li>
              <% end %>
            <% end %>
          </ul>
        </nav>
     </div>
     <div id="legacy-sources">
       <p>Information from</p>
       <ul>
         <li class="directgov">Directgov</li>
         <li class="businesslink">BusinessLink</li>
       </ul>
     </div>
   </div>

  </div>
</div>
<!-- end related -->
<% end %>
