<% if artefact && artefact.present? && artefact.related_items.size > 0 %>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">

		<div class="related">
			<div class="inner group">
				<h2>Related tools &amp; topics</h2>
				<nav role="navigation">
				  <ul>
				      <% (artefact.related_items || []).each do |item| %>
  				      <% if item.artefact %>
  				      <li class="<%= h(item.artefact.kind) %>">
  				        <a href="/<%= h(item.artefact.slug) %>"><%= h(item.artefact.name) %></a>
  				      </li>
  				      <% end %>
              <% end %>
				      <% if artefact.section %>
				        <li class="related-topic"><a href="/browse/<%= h(artefact.section.parameterize) %>">View more in <span><%= h(artefact.section) %>&rarr;</span></a></li>
				      <% end %>
				  </ul>
				</nav>
	   </div>
	 </div>

	</div>
</div>
<!-- end related -->
<% end %>
